<% if !@users.empty? %>
  <table class="user-list">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
    <tr>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.fullname %></td>
        <td><%= u.email %></td>
        <td><%= u.phone %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>Currently there are no registered players.</p>
<% end %>