@import "_setup";

ul.coach-list {
  width:70%;
  margin: 0 auto;
}
ul.coach-list li{
  clear: both;
  margin-bottom: 30px;
  height: 150px;
}
ul.coach-list li .coach-text {
  overflow:hidden;
  margin-bottom: 30px;
}

ul.coach-list li img {
  float: left;
  margin-right: 20px;
  border-radius: 20px;
}
ul.coach-list li .coach-text h3 {
  margin-top: 5px;
}
