<%= redirect_to root_path unless current_parent %>
<% provide(:title, 'Camp Registrations') %>
<p>Your Registrations</p>
<% if @camp_registrations.empty? %>
  <p>You have no registrations.</p>
<% else %>
  <table>
    <tr>
      <th>Session</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Price</th>
    </tr>
    <%= render 'camp_session_details' %>
    <tr>
      <th></th>
      <th></th>
      <th>Total</th>
      <th><%= total(@camp_registrations) %><th>
    </tr>
  </table>
<% end %>
